:root{
  --bgColor: #040b13;

}

a {
  text-decoration: none;
  color: yellow;
}


body{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  color: white;
  list-style: none;
  text-decoration: none;
  background:var(--bgColor);
}